<!doctype html>
<html>
  <head><meta charset="utf-8"><title>SJSU Hello</title></head>
  <body style="font-family:sans-serif;padding:2rem">
    <h1>Hello World from SJSU-{{ instance_id }}</h1>
  </body>
</html>